<ul class="link-icons horizontal">
  <li>
    <a href="mailto:{{ site.data.contact.email }}" class="icon" aria-label="e-mail">
      {% include icons/mail.svg %}
    </a>
  </li>
  <li>
    <a href="/assets/rand_asswad_cv_en.pdf" class="icon" aria-label="cv">
            {% include icons/cv.svg %}
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/{{ site.data.contact.linkedin }}" target="_blank" class="icon" aria-label="LinkedIn">
      {% include icons/linkedin.svg %}
    </a>
  </li>
</ul>
